
li.dropdown-button {
    position: relative;
}

.dropdown-content {
    display: none !important;
    position: absolute;
    width: 280px;
    margin-left: -50%;
    padding: 16px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.dropdown-button:hover .dropdown-content,
li.dropdown-button:hover .dropdown-content {
    display: block !important;
}
ul.main-menu li span {
    cursor: pointer;
}
.main-menu .dropdown-content a,
nav ul.main-menu li a,
nav ul.main-menu li span {
    white-space: nowrap;
    opacity: 0.7;
    transition: all 0.3s ease-out;
}
.dropdown-content a:hover,
nav ul li a:hover,
nav ul li span:hover {
    opacity: 1;
}

